.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react{
    position: relative;
    left: -60px;
    top: 50px;
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes logo-float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a .logo.animate-spin {
        animation: logo-spin infinite 20s linear;
    }
    a .logo.animate-float {
        animation: logo-float infinite 2s ease-in-out;
    }
}

.banner-area {
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 274px;
    /*max-height: 274px;*/
    width: 960px;
    /*max-width: 960px;*/
}