.dark-style
{
    background-color: #35383d;
    color: lightyellow;
}

.alt-para:nth-of-type(odd) {
    background-color: inherit;
    color: #FBFAF8;
    
}

.cardlink {
    height: 30px;
    overflow: auto;
    background-color: inherit;
}

.color-schema
{
    overflow:hidden;
    height: 35px;
}

.flex-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

/******* animation code *********/
@keyframes blueblush {
  from {color: #EBF0F4;}
  to {color: #406FBD;}
}

nav a:hover
{
    animation-name: blueblush;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 2;
}

nav a:hover:visited
{
    animation-name: blueblush;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}