.dark-style
{
    background-color: #35383d;
    color: lightyellow;
}

.alt-para:nth-of-type(odd) {
    background-color: dimgrey;
    color: lavender;
    
}

.cardlink {
    height: 30px;
    overflow: auto;
    background-color: inherit;
}

/******* animation code *********/
@keyframes blueblush {
  from {color: blue;}
  to {color: lavenderblush;}
}

nav a:hover
{
    animation-name: blueblush;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}