@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Staatliches&display=swap');


.font-staatl {
    font-family: 'Staatliches', cursive;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

body {
    /*    margin: 1em;*/
    /*    height: 100vh;*/
    /*    font-family: 'Lato', sans-serif;*/
}

/********Small Screens**********/
@media screen and (max-width: 700px) {
    #sidebar {
        background-color: #33576b;
        color: white;
        padding: 15px 0 0 1em;
        height: auto;
        width: 100%;
        position: relative;
        overflow-x: hidden;
        box-shadow: 0px 6px;
    }

    #mainContent {
        padding: 3em 1em;
/*        margin-left: 2%;*/
        font-size: 1em;
    }
    
    #backToTop{
        display: block;
        position: fixed;
        bottom: 2%;
        right: 2%;
        padding: 5px;
    }
}

/************Big Screens*********/
@media screen and (min-width: 700px) {
    #sidebar {
        background-color: #33576b;
        color: white;
        padding: 15px 0 0 1em;
        height: 100%;
        width: 25%;
        position: fixed;
        overflow-x: hidden;
        box-shadow: 0px 6px;
    }

    #mainContent {
        padding: 3em 1em;
        margin-left: 25%;
        font-size: 1.2em;
    }
    
    #backToTop{
        display: none;
    }
}

#timestamp {
    padding: 5px;
    bottom: 0;
    position: fixed;
}

.outer {
    overflow-x: hidden;
}

.cardlink {
    padding: 6px;
    max-width: 40px;
    max-height: 40px;
}

.imageFit {
    max-height: 100%;
    max-width: 100%;
}

.videoFit
{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoFit iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a.nav-link {
    -webkit-transition: padding-left 0.5s ease-out, background-color 0.2s ease-in;
    -moz-transition: padding-left 0.5s ease-out, background-color 0.2s ease-in;
    transition: padding-left 0.5s ease-out, background-color 0.2s ease-in;
}

a.nav-link:hover {
    padding-left: 25px;
    background-color: white;
}

/*show more/less toggle*/
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}
